@charset "utf-8";
/* CSS Document */
*{
    margin:0;
    padding:0;
}
body{
    background:url(../img/bg.png);
}
main{
    background:rgb(100%,100%,100%);
    width:720px;
    border-radius:7px;
    box-shadow:1px 1px 1px rgba(0,0,0,0.3);
    margin:20px auto 20px auto;
    padding:15px;
}
header{
    border-bottom:3px double #3c3c3c;
    width:720px;
    padding:10px 15px 10px 15px;
    margin:15px auto 0 auto;
    line-height:150%;
}
article{
    border:3px double #3c3c3c;
    border-radius:5px;
    padding:10px 15px 10px 15px;
    margin:15px 0 0 0;
    line-height:150%;
}
h1{
	color:#0a3c3c;
    margin:20px 0;
}
h2,h3{
    color:#0a3c3c;
    margin:10px 0 10px 0;
}
h3{
    border-bottom:1px solid #0a3c3c;
}
img{
    border-radius:5px;
}
figure
{
    display: block;
    text-align:center;
}
ol li {
	margin:  0 0;         /* デフォルト指定上書き */
    padding: 0 0;         /* デフォルト指定上書き */
}

ol {
  list-style: none;
  counter-reset: ol_li; /* ol_li カウンタをセットする(値もリセット) */
}

ol li:before {
  margin-right: .25em;
  counter-increment: ol_li; /* ol_li カウンタの値に1加える */
  content: counter(ol_li); /* before擬似要素のcontentで出力 */
  color: #F44336; /* 色を変更 */
}

ul li {
    list-style:  none;  /* デフォルトのアイコンを消す */
    margin:  0 0;         /* デフォルト指定上書き */
    padding: 0 0;         /* デフォルト指定上書き */
}

ul li:before {
    content:  "";     /* 空の要素作成 */
    width:  10px;               /* 幅指定 */
    height:  10px;              /* 高さ指定 */
    display:  inline-block;     /* インラインブロックにする */
    background-color: #F44336;  /* 背景色指定 */
    border-radius:  50%;        /* 要素を丸くする */
    position:  relative;        /* 位置調整 */
    top: -1px;                  /* 位置調整 */
    margin-right: 5px;          /* 余白指定 */
}
footer
{
    text-align:center;
    font-size:small;
    margin-bottom:1em;
}